<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Registro de Suministros</h3>
  <form (ngSubmit)="onSubmit()" #suministroform="ngForm">
    <div class="form-group">
      <label>Nombre: </label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        [(ngModel)]="suministro.nombre"
        name="nombre"
        required
        placeholder="Digite el nombre del suministro"
        minlength="4"
        maxlength="10"
        #nombre="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="(nombre.invalid && nombre.dirty) || nombre.touched"
      >
        <div *ngIf="nombre.errors.required">
          Digite el nombre del suministro porfavor!
        </div>
        <div *ngIf="nombre.errors.minlength">
          El nombre debe contener como minimo 4 caracteres
        </div>
        <div *ngIf="nombre.errors.maxlength">
          El nombre debe tener como maximo como 10 caracteres
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Marca: </label>
      <input
        type="text"
        class="form-control"
        id="marca"
        [(ngModel)]="suministro.marca"
        name="marca"
        required
        placeholder="Digite la marca del suministro"
        minlength="4"
        maxlength="10"
        #marca="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="(marca.invalid && marca.dirty) || marca.touched"
      >
        <div *ngIf="marca.errors.required">
          Digite el marca del suministro porfavor!
        </div>
        <div *ngIf="marca.errors.minlength">
          El marca debe contener como minimo 4 caracteres
        </div>
        <div *ngIf="marca.errors.maxlength">
          El marca debe tener como maximo como 10 caracteres
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Registro: </label>
      <input
        type="text"
        class="form-control"
        id="registro"
        [(ngModel)]="suministro.registro"
        name="registro"
        required
        placeholder="Digite el registro del suministro"
        #registro="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="(registro.invalid && registro.dirty) || registro.touched"
      >
        <div *ngIf="registro.errors.required">
          Digite el registro del suministro porfavor!
        </div>
        <div *ngIf="registro.errors.pattern">
          Digite el registro con el siguiente formato: xxxxx-xxx
        </div>
      </div>
    </div>
    <button class="btn btn-success" [disabled]="!suministroform.form.valid">
      Guardar
    </button>
  </form>
</div>
