.table-dark {
  color: #111;
  background: #7A89B7;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #111;
}

.btn-info {
  color: #111;
  background-color: #e8bf4c;
  border-color: #e8bf4c;
}

.btn-danger {
  color: #111;
  background-color: #F1E2DD;
  border-color: #F1E2DD;
}

.btn-primary {
  color: #111;
  background-color: #A06E59;
  border-color: #A06E59;
}
