<h2>Lista de Suministros</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Registro</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let suministro of suministros">
      <td>{{ suministro.nombre }}</td>
      <td>{{ suministro.marca }}</td>
      <td>{{ suministro.registro }}</td>
      <td>
        <button
          (click)="actualizarSuministro(suministro.id)"
          class="btn btn-info"
          style="margin-left: 10px"
        >
          Editar
        </button>
        <button
          (click)="eliminarSuministro(suministro.id)"
          class="btn btn-danger"
          style="margin-left: 10px"
        >
          Eliminar
        </button>
        <button
          (click)="verDetallesdDelSuministro(suministro.id)"
          class="btn btn-primary"
          style="margin-left: 10px"
        >
          Detalles
        </button>
      </td>
    </tr>
  </tbody>
</table>
