/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #edf3f8;
  background: -moz-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%);
  background: radial-gradient(ellipse at center, #edf3f8 1%, #dee3e8 100%);
  filter:
    progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf3f8', endColorstr='#dee3e8', GradientType=1);
  -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf3f8', endColorstr='#dee3e8', GradientType=1);
}

.pentahedron {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3E82F7;

}

.point {
  fill: #8491A3
}

.rhombus {
  fill: #2DA94F;
  stroke: #2DA94F;
}

.x {
  fill: #FDBD00
}

.circle {
  fill: #ED412D;
}

svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateZ(0px)
}
