<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="suministros" routerLinkActive="active" class="nav-link"
          >Lista de Suministros</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="registrar-suministro"
          routerLinkActive="active"
          class="nav-link"
          >Añadir Suministro</a
        >
      </li>
    </ul>
  </nav>
  <div>
    <h1 class="text-center">{{ title }}</h1>
    <div class="container">
      <router-outlet></router-outlet>
      <!-- <app-lista-suministros></app-lista-suministros> -->
    </div>
  </div>
</body>
