/* body {
  background-image: url("https://images.unsplash.com/photo-1611038333075-2efd28705f42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1249&q=80");
  opacity: 0.5;

} */

/* .hero {
  background-image: url("https://images.unsplash.com/photo-1611038333075-2efd28705f42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1249&q=80");
  background-color: transparently;
}

.text-center {
  color: black;
} */

.bg-dark {
  background-color: #804942 !important;
}
