.btn-success.disabled,
.btn-success:disabled {
  color: #111;
  background-color: #e8bf4c;
  border-color: #e8bf4c;
}

.btn-success {
  color: #111;
  background-color: #e8bf4c;
  border-color: #e8bf4c;
}
