<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Edición de suministros</h3>
  <form (ngSubmit)="onSubmit()" #suministroForm="ngForm">
    <div class="form-group">
      <label>Nombre : </label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        [(ngModel)]="suministro.nombre"
        name="nombre"
        required
        minlength="4"
        maxlength="10"
        placeholder="Digite el nombre del suministro "
        #nombre="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
      >
        <div *ngIf="nombre.errors.required">
          Digite el nombre del suministro por favor
        </div>
        <div *ngIf="nombre.errors.minlength">
          El nombre tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf="nombre.errors.maxlength">
          El nombre tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Marca : </label>
      <input
        type="text"
        class="form-control"
        id="marca"
        [(ngModel)]="suministro.marca"
        name="marca"
        required
        minlength="4"
        maxlength="10"
        placeholder="Digite la marca del suministro "
        #marca="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="marca.invalid && (marca.dirty || marca.touched)"
      >
        <div *ngIf="marca.errors.required">Digite su marca por favor</div>
        <div *ngIf="marca.errors.minlength">
          La marca tiene que contener como minimo 4 caracteres
        </div>
        <div *ngIf="marca.errors.maxlength">
          La marca tiene que tener como maximo 10 caracteres
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Registro : </label>
      <input
        type="text"
        class="form-control"
        id="registro"
        [(ngModel)]="suministro.registro"
        name="registro"
        required
        placeholder="Digite el registro del suministro "
        #registro="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="registro.invalid && (registro.dirty || registro.touched)"
      >
        <div *ngIf="registro.errors.required">
          Digite el registro del suministro
        </div>
        <div *ngIf="registro.errors.pattern">
          Digite el registro con el siguiente formato: xxxxx-xxx
        </div>
      </div>
    </div>

    <button class="btn btn-success" [disabled]="!suministroForm.form.valid">
      Guardar
    </button>
  </form>
</div>

<!-- <input
        type="text"
        class="form-control"
        id="registro"
        [(ngModel)]="suministro.registro"
        name="registro"
        pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
        required
        placeholder="Digite el registro del suministro "
        #registro="ngModel"
      /> -->
