<h3>Detalles del suministro</h3>
<div>
  <div>
    <label><b>ID: </b>{{ suministro.id }}</label>
  </div>
  <div>
    <label><b>NOMBRE: </b>{{ suministro.nombre }}</label>
  </div>
  <div>
    <label><b>MARCA: </b>{{ suministro.marca }}</label>
  </div>
  <div>
    <label><b>REGISTRO: </b>{{ suministro.registro }}</label>
  </div>
</div>
